<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      As minhas notas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">As minhas notas</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-segment>
    <ion-segment-button value="first" content-id="first">
      <ion-label>TO DO</ion-label>
    </ion-segment-button>
    <ion-segment-button value="second" content-id="second">
      <ion-label>DONE</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    <ion-segment-content id="first">
        <ion-content color="light">
          <ion-list [inset]="true">
            <ion-item>
              <ion-label>Levar o carro à inspeção</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Pagar o Moche</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Estudar para a UC de Moblie</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-segment-content>
    <ion-segment-content id="second">Second</ion-segment-content>
  </ion-segment-view>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>